---
import {twMerge} from 'tailwind-merge'
 
interface Props {
	id:string
}
 
const {
 id 
} = Astro.props 
 
const tw = {
	container: 'tab-group not-content flex justify-left gap-1 ',
	output: 'block -translate-y-1 p-4 w-full h-[35rem] overflow-y-scroll ' +
	  'bg-slate-100 dark:bg-gray-900 border-2 border-slate-600 ',
}

export const activeLight = 'bg-orange-300'
export const inactiveLight = 'bg-slate-300'
export const activeDark = 'bg-sky-400'
export const inactiveDark = 'bg-gray-900'



const hs = 
`
on activateTab(tab)
	remove .${inactiveLight} .dark:${inactiveDark} from tab
	add .${activeLight} .dark:${activeDark} to tab
	send deactivateSiblings(activeTab:tab) to me
end 

on deactivateSiblings(activeTab)
 set allTabs to my children
 for tab in allTabs
   if tab is not activeTab
		remove .${activeLight} .dark:${activeDark} from tab
		add .${inactiveLight} .dark:${inactiveDark} to tab
   end
end

`
 
---
 
<div class={tw.container}
	hx-trigger="click"
	hx-target="next <output/>"
	hx-swap="innerHTML transition:true"
	script={hs}>
  <slot/>
</div>
<output class={tw.output} style="margin-top:0;"/>

