---
import {twMerge} from 'tailwind-merge'
 
interface Props {
	defaultTabId?:string  // The id of the tab to be activated by default	
	maxHeight?:string  // The maximum height of the panel content area
}
 
const {
	defaultTabId = '0',
	maxHeight = 'max-h-[35rem]'
} = Astro.props 
 
export const tw = {
	container: 'tab-group not-content flex justify-left ',
	output: 'block text-left p-4 w-full  overflow-y-scroll ' +
	  'bg-gray-100 dark:bg-gray-950 ',
	tabItem: 'z-10 tab-item not-content select-none ' + 
	'font-semibold rounded-t-xl cursor-pointer ' + 
	'hover:bg-orange-100 dark:hover:bg-purple-900 ' +
	'border-2  border-slate-600 ',
	activeLight: 'bg-gray-100',
	activeDark: 'dark:bg-gray-950',
	inactiveLight: 'bg-slate-300',
	inactiveDark: 'dark:bg-gray-800',
	textActiveLight: 'text-blue-950',
	textActiveDark: 'dark:text-orange-200',
	textInactiveLight: 'text-blue-900',
	textInactiveDark: 'dark:text-zinc-200'
}

const hs = 
`
on load
	set defaultTab to #{${defaultTabId}}
	send activateTab(tab:defaultTab) to me
end

on activateTab(tab)
	remove .${tw.inactiveLight} .${tw.inactiveDark} from the tab
	remove .${tw.textInactiveLight} .${tw.textInactiveDark} from the tab
	add .${tw.activeLight} .${tw.activeDark} to the tab
	add .${tw.textActiveLight} .${tw.textActiveDark} to the tab
	add .border-b-0 to the tab
	send deactivateSiblings(activeTab:tab) to me
end 

on deactivateSiblings(activeTab)
 set allTabs to my children
 for tab in allTabs
   if tab is not the activeTab
		remove .${tw.activeLight} .${tw.activeDark}  from the tab
		remove .${tw.textActiveLight} .${tw.textActiveDark} from the tab
		remove .border-b-0 from the tab
		add .${tw.inactiveLight} .${tw.inactiveDark} to the tab
		add .${tw.textInactiveLight} .${tw.textInactiveDark} to the tab
   end
end

`
 
---
 
<div class={tw.container}
	hx-trigger="click"
	hx-target="next <output/>"
	hx-swap="innerHTML transition:true"
	script={hs} style={`max-height:${maxHeight}`}>
  <slot/>
</div>
<output class={tw.output + ' ' + maxHeight}/>

