---

import {twMerge} from 'tailwind-merge'

interface Props {
	id: string  // a unique identifier
	caption: string  // a string displayed in the Tab
	path: string  // the API route to be loaded when the Tab is active
	trigger?: string  //one or more (comma separated) events which activate the Tab
}

const { 
	id, 
	caption, 
	path,
  trigger = 'click' 
} = Astro.props

import {tw} from './TabPanel.astro'

const hs = `
  init 
    add .${tw.inactiveLight} .${tw.inactiveDark} to me
		add .${tw.textInactiveLight} .${tw.textInactiveDark} to me
	end
  
  on click send activateTab(tab:me) to the  closest <div.tab-panel/>
`
---

<button id={id} 
	class={tw.tabItem}
	hx-trigger={trigger}
	hx-get={`${path}`}
	script={hs}>
	{caption}
</button>
	 
