---

import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getCollection } from 'astro:content' 
import ReadMoreGroup from '../components/ReadMoreGroup.astro'
import ReadMoreItem_B from '../components/ReadMoreItem_B.astro'

const blog = await getCollection('blog')

const tw = {
		wrapper: 'w-full columns-1 text-zinc-800 dark:text-zinc-200 bg-zinc-200 dark:bg-transparent',
		heading: 'pb-4 text-xl font-bold text-center',
		subheading:'leadingline pb-8',
}
---


<StarlightPage title="ReadMore Test">

	 <div class={tw.wrapper}>

		<ReadMoreGroup closeSiblings={true}>
			{blog.map((post, index) => (
				<ReadMoreItem_B id={`${index}`} caption={post.heading}>
					<h2 class={tw.heading}>{post.heading}</h2>
					<p class={tw.subheading}>{post.subheading}</p>
				</ReadMoreItem_B>
			))}
		</ReadMoreGroup>

	 </div>

	</StarlightPage>