---

import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Hyperscript_Logo from '../components/Hyperscript_Logo.astro';
import HTMXLogo from '../components/HTMX_Logo.astro';


const title = "Logos"
const tw = {
	page: 'splash h-screen bg-gray-900',
	grid: 'grounded-radiants fixed w-3/12 top-20 left-40 h-[300px] w-[350px] flex flex-col items-center gap-y-8  ',
	container: 'inline-block text-4xl font-bold mb-2',
	base: 'text-gray-800 dark:text-zinc-200',
	alternate: 'text-blue-400'
}

---


<div class={tw.page}>
	
	<div class={tw.grid}>
		<div class={tw.container}>
			<span class={tw.alternate}>///_h<span class={tw.base}>yper</span><span class={tw.alternate}>s</span><span class={tw.base}>cript</span></span>
		</div>
		<div class={tw.container + " mt-1"}>
			<span class={tw.base}>&lt;</span>
			<span class={tw.alternate}>/</span>
			<span class={tw.base}>&gt;</span>
			<span class={tw.base + " tracking-wider"}>htm<span class={tw.alternate + " -translate-x-6"}>x</span></span>
		</div>
		<div>
			<img class="inline-block h-12 m-2 pr-3"src="/images/astro_icon.png" alt="">
			<img class="inline-block h-14" src="/images/tailwind_icon.svg" alt="">
		</div>
	</div>
</div>




<style>

.grounded-radiants {
    position: relative;
    border: px solid transparent;
    border-radius: 16px;
    background: radial-gradient(hsl(247, 43%, 19%),hsl(247, 86%, 6%), hsl(327, 18%, 0%));
    background-clip: padding-box;
    padding: 40px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 2px 0px 9px hsl(241, 70%, 80%);
}

.grounded-radiants::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    content: '';
    z-index: -1;
    border-radius: 16px;
}

.splash {
	background-color: hsl(224, 10%, 10%)
}
</style>