---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import Searchbox from '../components/search/searchbox.astro'

const pageTitle = 'Test Search'

const defaultSpeechTitle = 'Click on the any of the famous orations listed above.'
const defaultSpeechTranscript = 'The full transcript will be displayed here. Use the Search box to dynamnically highlight any part of the transcript'
import {tw as rowStyles} from './api/speeches'
const tw = {
	table:'mx-auto my-4 max-w-max ',
	...rowStyles,
  search:{
		container: 'not-content pt-8 ' +  
		'flex justify-between items-center gap-2',
		resetButton: 'cursor-pointer py-2 px-6 dark:bg-indigo-600 text-zinc-200 rounded-lg'
	},
	speech:{
		wrapper: 'w-full relative top-16 mx-auto max-h-[50rem] overflow-y-auto ' +  'dark:bg-gray-950 rounded-t-lg',
		title: 'text-center text-balance text-indigo-600 ' + 'dark:text-amber-100/80 p-4 border-b-2 border-gray-300 ' + ' dark:border-gray-700',
		transcript: 'not-content mt-8 p-4'
	},
}	
const hs = {
	resetButton:`
		on load or click 
			put the "${defaultSpeechTitle}" into the #{'speech-title'} then
			put the "${defaultSpeechTranscript}" into the #{'speech-transcript'} then 
			send reset to the <table#all-speeches/> 
			send reset to the #{'searchbox'}
		end `,
	table: `
		on reset
			remove .${tw.rowHilight} from <tr/>
		end `
}

---

<StarlightPage frontmatter={{title: pageTitle}}>

{/* Intro */}
<div class="w-10/12 mx-auto">
	<h3 class="text-center">Famous Speeches in the English Language</h3>
	<h4 class="pt-8 pb-4 text-center">Highlight Words from Orations that Helped Shape our World.</h4>
</div>

{/*  Table of Famous Speeches */}
<table class={tw.table}
				id="all-speeches"
				hx-trigger="load"  
				hx-get="/api/speeches/"
				hx-target="<tbody/>"
				hx-swap="innerHTML"
				script={hs.table}>
	<thead>
		<tr><th>Speaker</th><th>Title</th><th>Date</th></tr>
	</thead>
	<tbody></tbody>
</table>
 
{/*  Search Box */}
<div class={tw.search.container}>
	<Searchbox 
		id="searchbox" 
		searchPath="/api/speeches/match/" 
		target="#speech-transcript" 
		swapStrategy="innerHTML"
		 />
	<button class={tw.search.resetButton}
	script={hs.resetButton}
	>Reset</button>
</div>

{/* Our Speech */}
<div class={tw.speech.wrapper}>
	<h4 id="speech-title" class={tw.speech.title}></h4>
	<div id="speech-transcript" class={tw.speech.transcript}>
	</div>
</div>
	



</StarlightPage>

