---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import TabGroup from '../components/tabs/TabGroup.astro'
import TabItem from '../components/tabs/TabItem.astro'

import { twMerge } from 'tailwind-merge'
const title = 'TestTabs'

const tabBackgroundDark = 'bg-gray-700'
const tabBackgroundLight = 'bg-slate-300'
const tabBackgroundActiveLight = 'bg-green-500'
const tabBackgroundActiveDark = 'bg-indigo-300'

const tw = {
	tabs: 'not-content flex justify-left gap-1 ',
	tabItem: 'tab-item not-content rounded-t-xl cursor-pointer border-2 border-slate-600 ' + 
	  'bg-slate-300 dark:bg-gray-700',
	output: 'block -translate-y-1 p-4 w-full h-[35rem] overflow-y-scroll ' +
	  'bg-slate-100 dark:bg-gray-900 border-2 border-slate-600 ',
}

const defaultTabId = '1'


---

<StarlightPage frontmatter={{title: title}}>

	<div class={tw.tabs}
			hx-trigger="click"
			hx-target="next <output/>"
			hx-swap="innerHTML transition:true">
			<button id="1" class={tw.tabItem}
			  hx-trigger="load, click"
				hx-get="/api/readmore/1"
			>HTMX</button>
			<button id="2" class={tw.tabItem}	
				hx-get="/api/readmore/2"
			>Tailwind	</button>
			<button id="3" class={tw.tabItem}
				hx-get="/api/readmore/3">Hyperscript</button>
			<button id="4" class={tw.tabItem}
				hx-get="/api/readmore/4">Astro</button>
	</div>
	<output id="tab-output" class={tw.output}  style="margin-top:0; "/>


	<TabGroup>
		<TabItem id="1" caption="HTMX" path="/api/readmore/1" trigger="load, click" />
		<TabItem id="2" caption="Tailwind" path="/api/readmore/2" />
		<TabItem id="3" caption="Hyperscript" path="/api/readmore/3" />
		<TabItem id="4" caption="Astro" path="/api/readmore/4" />
	</TabGroup>


</StarlightPage>

