---
interface Props {
 id:string   //a unique identifier for this component, allowing multiple dropdowns on a page without collisions
 caption:string   //the text displayed in the button that triggers the dropdown
 dropdownStyles:string   //any additional styles to apply to the overall wrapper <div>
 buttonStyles:string   //any additional Tailwind classes for customizing the trigger button
 listStyles:string   //any additional styles to apply to the dropdown list
 moveOver:string //comma separated integer values specifying top,left shift in dropdown location
 duration: '100ms'
}

import {twMerge} from 'tailwind-merge'
const {id, caption, dropdownStyles, buttonStyles, listStyles, moveOver = "0,0", duration} = Astro.props

const title = 'Dropdown Menus';
const tw = {
	startIcon:'',
  endIcon:'',
	triggerButton: 'inline-block rounded-lg p-3 ' +
		'font-semibold text-lg lg:text-xl text-zinc-100 hover:text-zinc-400 hover:dark:text-zinc-300 ' + 
		'bg-indigo-600 hover:bg-indigo-800 ' +
		'focus:ring-4 focus:outline-none focus:ring-indigo-300 ',
	dropdownWrapper:'hidden h-0 absolute z-10 ' + 
		'rounded-lg drop-shadow-2xl overflow-hidden ' + 
		'text-lg font-medium ' +
		'bg-white dark:bg-gray-800 ',
	itemsList:'opacity-0 flex flex-col gap-y-4 cursor-pointer ' + 
		'py-4 font-semibold text-gray-900 dark:text-zinc-50',
}

const hs = {
	toggleDropdown: `init
			set :dropdownWrapper to 'dropdownWrapper-' + @id
			set :itemsList to 'itemsList-' + @id
			set :buttonHasMouse to false
			set :isOpen to false
			on click
				if :isOpen then trigger closeDropdown on me otherwise trigger openDropdown on me
			end

			on keydown[key=='Escape']
				trigger closeDropdown on me
			end

			def calcHeight
				set dropdownHeight to 0 then set items to the children of #{:dropdownWrapper}
				for item in items increment the dropdownHeight by the item's offsetHeight end
				return dropdownHeight
			end -- calcHeight

			def resetPosition
				set offset to @moveOver.split(',')
				set leftOffset to offset[0] as Int
				set bottomOffset to offset[1] as Int
				measure me then put the result.bounds into myBounds
				set *left of #{:dropdownWrapper} to (myBounds.left + leftOffset) px
				set *top of #{:dropdownWrapper} to (myBounds.bottom  + bottomOffset) px
			end  -- calcOffset
			
			on openDropdown
			  resetPosition()
				remove .hidden from #{:dropdownWrapper} -- now items have an offsetHeight available
				set *height of #{:dropdownWrapper} to (calcHeight() + 'px') then wait 20ms then
				set *opacity of #{:itemsList} to 1
				set :isOpen to true
			end
			-- handler to hide dropdown
			on closeDropdown
				set *opacity of #{:itemsList} to 0
				set *height of #{:dropdownWrapper} to 0 then settle then
				add .hidden to #{:dropdownWrapper}
				set :isOpen to false
			end`,
  hideDropdown: `on click or mouseleave send closeDropdown to the previous <button/> end`

}


/* 
Action: a basic dropdown menu activated by single click.

Features: 

1.  Closes when Escape Key pressed
2.  Closes when mouse leaves the dropdown
3.  Closes when a menu item is clicked (indicating a user has made a choice)
4.  Position of the dropdown can be offset by a top, left integer value pass via props
5.  Actual menu items are not included in this component, just the wrapping <ul>
6.  Actual menu items are passed into the default slot, so can be any <li> of any makeup
7.  Named slots to install starting/ending icon around the trigger button



Implementation:
<div id=dropdownWrapper-${id} is a wrapper around a <ul> allowing the entire component to be styled and/or selectively
	positioned within a parent container.  Also, the default style is hidden with height set to zero.

The menu items are installed into the default slot inside a <ul> whose initial height is set to zero so it is not seen
You cannot set the .hidden class (or the corresponding <li> are absent from the DOM and thus
have no offsetHeight value*/
---

<div>
	<button id={id}  moveOver={moveOver} class={twMerge(tw.triggerButton, buttonStyles)} type='button'
		script={hs.toggleDropdown}>
		<slot name='startIcon' class={tw.startIcon}/>
		{caption}
		<slot name='endIcon' class={tw.endIcon}/>
		</button>
</div>


<div id=`dropdownWrapper-${id}` class={twMerge(tw.dropdownWrapper, dropdownStyles)} style=`transition: all ${duration} ease-in-out`>
	<ul id=`itemsList-${id}` class={twMerge(tw.itemsList, listStyles)} style="transition: all 50ms ease-in-out"
	script={hs.hideDropdown}>
	<slot/>
	</ul>
</div>


