---

const tw = {
	container: 'inline-block text-2xl font-bold tracking-wide',
	base: ' text-gray-800 dark:text-zinc-200 msx-0',
	alternate: 'text-blue-400'
}
---

<div class={tw.container}>
	<span class={tw.alternate}>///_h<span class={tw.base}>yper</span><span class={tw.alternate}>s</span><span class={tw.base}>cript</span></span>
</div>