---
interface Props {
 id:string   //a unique identifier for this component, allowing multiple dropdowns on a page without collisions
 moveOver?:string //comma separated integer values specifying top,left shift in dropdown location
}

import PaletteItem from './PaletteItem.astro';
import DropdownMenu from './DropdownMenu.astro';

const {id, moveOver} = Astro.props

const tw = {
	palleteWrapper: 'mt-0 flex flex-col gap-y-2',
	paletteItem: 'size-3 rounded-sm overflow-hidden ring-1 ring-slate-600 hover:scale-125',

}

const hs = "on click log ('You selected ' + my @title) "
---

<DropdownMenu id={id} moveOver={moveOver} buttonStyles="dark:bg-slate-900" duration="300ms">
	<img slot="startIcon" src='/images/tailwind_icon.svg' alt='tailwind icon' class="size-5"/>
  <div class="grid align-items-start gap-2 px-4" style="grid-template-columns: repeat(4, 1fr);">
    <div class={tw.palleteWrapper} >
			<PaletteItem twColor='bg-slate-50' hexCode='f8fafc' />
			<PaletteItem twColor='bg-slate-100' hexCode='f1f5f9' />
			<PaletteItem twColor='bg-slate-200' hexCode='e2e8f0' />
			<PaletteItem twColor='bg-slate-300' hexCode='cbd5e1' />
			<PaletteItem twColor='bg-slate-400' hexCode='94a3b8' />
			<PaletteItem twColor='bg-slate-500' hexCode='64748b' />
			<PaletteItem twColor='bg-slate-600' hexCode='475569' />
			<PaletteItem twColor='bg-slate-700' hexCode='334155' />
			<PaletteItem twColor='bg-slate-800' hexCode='1e293b' />
			<PaletteItem twColor='bg-slate-900' hexCode='0f172a' />
			<PaletteItem twColor='bg-slate-950' hexCode='020617' />
		</div>
		<div class={tw.palleteWrapper} style="margin-top:0;">
			<PaletteItem twColor='bg-gray-50' hexCode='#f9fafb' />
			<PaletteItem twColor='bg-gray-100' hexCode='f3f4f6' />
			<PaletteItem twColor='bg-gray-200' hexCode='e5e7eb' />
			<PaletteItem twColor='bg-gray-300' hexCode='d1d5db' />
			<PaletteItem twColor='bg-gray-400' hexCode='9ca3af' />
			<PaletteItem twColor='bg-gray-500' hexCode='6b7280' />
			<PaletteItem twColor='bg-gray-600' hexCode='4b5563' />
			<PaletteItem twColor='bg-gray-700' hexCode='374151' />
			<PaletteItem twColor='bg-gray-800' hexCode='1f2937' />
			<PaletteItem twColor='bg-gray-900' hexCode='111827' />
			<PaletteItem twColor='bg-gray-950' hexCode='030712' />
		</div>
		<div class={tw.palleteWrapper} style="margin-top: 0;">
			<PaletteItem twColor='bg-zinc-50' hexCode='fafafa' />
			<PaletteItem twColor='bg-zinc-100' hexCode='f4f4f5' />
			<PaletteItem twColor='bg-zinc-200' hexCode='e4e4e7' />
			<PaletteItem twColor='bg-zinc-300' hexCode='d4d4d8' />
			<PaletteItem twColor='bg-zinc-400' hexCode='a1a1aa' />
			<PaletteItem twColor='bg-zinc-500' hexCode='71717a' />
			<PaletteItem twColor='bg-zinc-600' hexCode='52525b' />
			<PaletteItem twColor='bg-zinc-700' hexCode='3f3f46' />
			<PaletteItem twColor='bg-zinc-800' hexCode='27272a' />
			<PaletteItem twColor='bg-zinc-900' hexCode='18181b' />
			<PaletteItem twColor='bg-zinc-950' hexCode='09090b' />
		</div>
  
</DropdownMenu>

