---
interface Props {
	twColor: string
	hexCode:string
	script?:string
}

const {twColor, hexCode, script } = Astro.props

import {twMerge} from 'tailwind-merge'

function capitalizeFirstCharacter(str) {
    if (!str) return str;
    return str.charAt(0).toUpperCase() + str.slice(1);
}

const color = capitalizeFirstCharacter(twColor.replace(/^bg-/, ''))

const tw = {
	palletItem: 'size-3 rounded-sm overflow-hidden ring-1 ring-slate-600 hover:scale-125',
}

const defaultScript = "on click send closeDropdown to the .colorPallet then settle then alert( 'You selected ' + my @title)"

---

<span 
	class={tw.palletItem + ' ' + twColor} title={`${color} (#${hexCode})`}
	bgcolor={twColor}
	script={script}>
</span>

