---
import ClickDropdownMenuA from '../ClickDropdownMenu_A.astro'
 
interface Props {
	caption?:string
	placeholder?:string
}
 
const {
	caption = "Search",
	placeholder = "Search for..."
} = Astro.props 

const tw = {
	container: 'px-4 bg-gray-20 ',
	wrapper: 'w-full flex items-center overflow-hidden justify-around bg-purple-400 ' + 
	' dark:bg-gray-300 rounded-2xl',
	label: 'hidden font-bold px-2 text-gray-800 dark:text-zinc-600',
	input: 'h-12 px-4 w-full font-inherit ' + 
	'font-bold text-lg ' + 
	'bg-slate-200  text-gray-900 dark:text-gray-950 ' + 
	 'focus:outline-none placeholder-blue-300 dark:placeholder-cyan-600',
	leftIcon: '',
	rightIcon:'w-12 h-12 bg-transparent text-purple-950 dark:text-blue-700 px-2 ' + 
		'',
  menuItem: 'px-4 hover:bg-gray-200 hover:text-purple-600 ' +
    'hover:dark:bg-stone-300 hover:dark:text-sky-800'
}
 
const hs = `on click send closeDropdown to the #{'search-criteria'} then settle then call alert('You selected ' + my innerHTML)` 
 
---
<div class={tw.container}>	 
	<div class={tw.wrapper}>
		<ClickDropdownMenuA id="search-criteria" caption="Search">
			<li class={tw.menuItem}>Whole Word</li>
			<li class={tw.menuItem}>Partial Word</li>
			<li class={tw.menuItem}>Begins With</li>
			<li class={tw.menuItem}>Ends With</li>
		</ClickDropdownMenuA>
		<input
			type="search"
			name="search"
			placeholder={placeholder}
			class={tw.input}>
		</input>
		<slot name="rightIcon" >
			<img src="" alt="">
			<svg 
					fill="currentColor" 
					class={tw.rightIcon}
					version="1.1" 
					id="Capa_1" 
					xmlns="http://www.w3.org/2000/svg" 
					xmlns:xlink="http://www.w3.org/1999/xlink" 
					viewBox="0 0 490.4 490.4" 
					xml:space="preserve">
						<g id="SVGRepo_bgCarrier" 
						stroke-width="0">
					</g>
					<g id="SVGRepo_tracerCarrier" 
					stroke-linecap="round" 
					stroke-linejoin="round">
				</g>
				<g id="SVGRepo_iconCarrier"> 
					<g> 
						<path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796 s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z">
						</path> 
						</g> 
					</g>
				</svg>
		</slot>
	</div>
</div>
