---
import ClickDropdownMenuA from '../ClickDropdownMenu_A.astro'
 
interface Props {
	id?:string
	caption?:string
	placeholder?:string
	searchPath:string
	target:string
	swapStrategy:string,
	width?:string,
	height?:string
}


const defaultTextColors = 'text-zinc-50 dark:text-zinc-200'
const defaultBackgroundColors = 'bg-indigo-300 dark:bg-indigo-600'
 
const {
	id,
	caption = "Search",
	placeholder = "Search for...",
	searchPath,
	target,
	swapStrategy,
	width = 'w-10/12',
	height = 'h-12'
} = Astro.props 

const tw = {
	container: '	flex-grow ',
	wrapper: `${width} mx-auto flex items-center overflow-hidden justify-around rounded-2xl ` +
	  'bg-indigo-300 dark:bg-indigo-600 ',
	input: `${height} px-4 w-full font-inherit ` + 
	'font-bold text-lg ' + 
	' text-gray-900 dark:text-zinc-200 ' + 
	'bg-slate-200 dark:bg-slate-800  '+ 
	 'focus:outline-none placeholder-blue-300 dark:placeholder-cyan-600',
	icon:'inline-block size-6',
	leftIcon: '',
	rightIcon:'w-12 h-12 px-2 ' + 
		'bg-transparent ' + defaultTextColors,
  menuItem: 'px-4 hover:bg-gray-200 hover:text-purple-600 ' +
    'hover:dark:bg-stone-300 hover:dark:text-sky-800',
	searchButton: 'p-0 mx-2 mt-1 cursor-pointer ' + 
		'font-extrabold ' + defaultTextColors +  ' hover:text-slate-950 dark:hover:text-yellow-600 ' +
		' bg-transparent hover:bg-transparent',
	mark: 'bg-yellow-200 dark:bg-rose-200'
}
 
const hs = `on click send closeDropdown to the #{'search-options'} then settle then 
    set the value of #{'search-criteria'} to my textContent` 
 
---
<div class={tw.container}>	 
	<div class={tw.wrapper}>
		<ClickDropdownMenuA id="search-options" buttonStyles={tw.searchButton} moveXY="-12,10" >
			<svg slot="rightIcon" class={tw.icon}  fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/>
			</svg>
			<li class={tw.menuItem} script={hs}>Contains</li>
			<li class={tw.menuItem} script={hs}>Whole Word</li>
			<li class={tw.menuItem} script={hs}>Partial Word</li>
			<li class={tw.menuItem} script={hs}>Multiple Words</li>
			<li class={tw.menuItem} script={hs}>Case Sensitive</li>
			<li class={tw.menuItem} script={hs}>Case Insensitive</li>
			<li class={tw.menuItem} script={hs}>Begins With</li>
			<li class={tw.menuItem} script={hs}>Ends With</li>
		</ClickDropdownMenuA>
		<input type="hidden" id="speech-index" name="speech-index" value=""/>
		<input type="hidden" id="search-criteria" name="search-criteria" value="Whole Word"/>
		<input
		  id=`${id}`
			type="search"
			name="search"
			placeholder={placeholder}
			class={tw.input}
			hx-post=`${searchPath}`
			hx-include="<input/>"
			hx-trigger="input changed delay:500ms, search"
			hx-target=`${target}`
			hx-swap=`${swapStrategy}`
			>
		</input>
		<slot name="rightIcon" >
			<svg 
					fill="currentColor" 
					class={tw.rightIcon}
					version="1.1" 
					id="Capa_1" 
					xmlns="http://www.w3.org/2000/svg" 
					xmlns:xlink="http://www.w3.org/1999/xlink" 
					viewBox="0 0 490.4 490.4" 
					xml:space="preserve">
						<g id="SVGRepo_bgCarrier" 
						stroke-width="0">
					</g>
					<g id="SVGRepo_tracerCarrier" 
					stroke-linecap="round" 
					stroke-linejoin="round">
				</g>
				<g id="SVGRepo_iconCarrier"> 
					<g> 
						<path d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796 s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z">
						</path> 
						</g> 
					</g>
				</svg>
		</slot>
	</div>
</div>
