---
import {twMerge} from 'tailwind-merge'
import magnifyGlass from '../../../public/images/magnify-glass.svg'
import {Image} from 'astro:assets'
 
interface Props {
	caption?:string
	placeholder?:string
}
 
const {
	caption = "Search",
	placeholder = "Search for..."
} = Astro.props 

const tw = {
	container: 'px-4 bg-gray-20 ',
	wrapper: 'w-full flex items-center overflow-hidden justify-around bg-purple-600 ' + 
	' dark:bg-gray-300 rounded-2xl',
	label: 'hidden font-bold px-2 text-gray-800 dark:text-zinc-600',
	input: 'h-12 px-4 w-full font-inherit ' + 
	'font-bold text-lg ' + 
	'bg-slate-200  text-gray-900 dark:text-gray-950 ' + 
	 'focus:outline-none placeholder-blue-300 dark:placeholder-cyan-600',
	leftIcon: '',
	rightIcon:'w-12 h-12 text-zinc-200 px-2 ' + 
		''
}
 
const hs = ``
 
---
<div class={tw.container}>	 
	<div class={tw.wrapper}>
		<slot name="leftIcon" class={tw.leftIcon}>
		</slot>

		<input
			type="search"
			name="search"
			placeholder={placeholder}
			class={tw.input}>
		</input>
		<slot name="rightIcon" >
			<Image src={magnifyGlass} alt="magnify-glass" class={tw.rightIcon}>
		</slot>
	</div>
</div>
