---
import {twMerge} from 'tailwind-merge'
import { tw } from '../tabs/TabPanel.astro'
 
interface Props {
	id:string
	callback?:string
}
 
const {
 id ,
 callback
} = Astro.props 
 
const tw = {
 dialog: ' z-[100]  backdrop:bg-gray-800 backdrop:bg-opacity-20',
 container: 'z-[200] w-1/2 h-1/2 mx-auto',
 content: 'p-8 bg-gray-200 text-gray-950 dark:bg-gray-800 dark:text-zinc-300',
 buttonContainer: 'flex items-center justify-end gap-4',
 button: 'p-4 rounded-xl shadow-2 overlow-hidden cursor-pointer',
 cancel: 'w-[20rem] bg-gray-400 text-slate-800',
 ok: 'min-w-[20rem] bg-green-400 text-slate-800'
}

const hs = {
	cancel: `
		on click send dialogResult(result:'Cancel') to <button#show-modal/>
	`,
	ok: `
	`,
}
---




<dialog id={id} class={tw.dialog}>
	<div class={tw.container}>
		<div class={tw.content}>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod repudiandae magni tempora, natus ex amet, soluta cumque quisquam similique praesentium incidunt aut odit minima id? Tenetur debitis sequi perspiciatis cumque veniam, rerum vero tempora! Natus quae temporibus eveniet, unde consectetur quod recusandae alias tempora praesentium quis. A nihil, ipsam architecto enim nobis, alias illo consequatur unde repudiandae ipsum numquam totam quisquam eos expedita dolorum exercitationem ullam delectus facilis quaerat? Minus, corporis impedit. Aperiam veniam non voluptas, rem aspernatur corporis, doloribus vel perspiciatis voluptates, ullam cumque? Quod unde iste quisquam repellat facilis, sapiente expedita recusandae culpa corrupti fuga voluptatibus optio nisi!</p>
		</div>
		<div class={tw.buttonContainer}>
			 <button class={tw.button + ' ' + tw.cancel} script={hs.cancel}> Cancel </button>
			 <button class={tw.button + ' ' + tw.ok}  script={callback}}> OK </button>
		</div>
	</div>
</dialog>